TP2/TP2/Connected Services/WCFMeteo/meteo3il_2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.meteowcfservice.lab3il.fr/meteo3il_2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="Get_Value">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i_NumValue" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_ValueResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_DateValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s_DescValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_MeteoData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_MeteoDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="Get_MeteoDataResult" nillable="true" type="q1:MeteoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_MeteoDataByDateTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s_DateValueIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_MeteoDataByDateTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="Get_MeteoDataByDateTimeResult" nillable="true" type="q2:MeteoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>