TP2/TP2/Connected Services/WCFMeteo/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.meteowcfservice.lab3il.fr/meteo3il_2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.meteowcfservice.lab3il.fr/meteo3il_2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.meteowcfservice.lab3il.fr/meteo3il_2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Get_Value_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Value" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_Value_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_ValueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_MeteoData_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_MeteoData" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_MeteoData_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_MeteoDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_MeteoDataByDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_MeteoDataByDateTime" />
  </wsdl:message>
  <wsdl:message name="IService1_Get_MeteoDataByDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_MeteoDataByDateTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Get_Value">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_Value" message="tns:IService1_Get_Value_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_ValueResponse" message="tns:IService1_Get_Value_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_MeteoData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_MeteoData" message="tns:IService1_Get_MeteoData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_MeteoDataResponse" message="tns:IService1_Get_MeteoData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_MeteoDataByDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Get_MeteoDataByDateTime" message="tns:IService1_Get_MeteoDataByDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Get_MeteoDataByDateTimeResponse" message="tns:IService1_Get_MeteoDataByDateTime_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_Value">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_Value" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_MeteoData">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_MeteoData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_MeteoDataByDateTime">
      <soap:operation soapAction="http://tempuri.org/IService1/Get_MeteoDataByDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://www.meteowcfservice.lab3il.fr/meteo3il_2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>